@model Decision.ViewModel.Address.AddressViewModel
<div class="col-md-12 data-item" id="address-@Model.Id">
    <div class="panel panel-default">
      
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-mobile"></i>
                    <label class="text-muted">شماره همراه:</label>
                    <small>@Model.CellPhone</small>
                </div>

                <div class="col-md-3">
                    <i class="fa fa-phone"></i>
                    <label class="text-muted">
                        شماره تلفن ثابت:
                    </label>
                    <small>@Model.PhoneNumber</small>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-map-o"></i>
                    <label class="text-muted">
                        نوع آدرس:
                    </label>
                    <small>@Html.DisplayFor(a => a.Type)</small>
                </div>

                <div class="col-md-2">
                    <i class="fa fa-location-arrow"></i>
                    <label class="text-muted">شهر:</label>
                    <small>@Model.City</small>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-map-marker"></i>
                    <label class="text-muted">استان:</label>
                    <small>@Model.State</small>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-map-marker"></i>
                    <label class="text-muted">نشانی :</label>
                    <small>@Model.Location.GetPersianNumber()</small>
                </div>

            </div>
            @{Html.RenderPartial(MVC.Shared.Views._AuditLog, Model);}
        </div>
        <div class="panel-footer ">
            <div class="pull-left">
                <a class="btn btn-primary btn-sm" data-ajax-oncomplete="editGetOnComplete(xhr,status)"
                   data-ajax="true" data-ajax-method="GET"
                   data-ajax-begin="onBegin(xhr,this)"
                   data-ajax-mode="REPLACE-WITH" data-ajax-success="inlineEditGetOnSuccess(data, status, xhr,'@Model.Id')"
                   data-ajax-update="#address-@Model.Id"
                   href="@Url.Action(MVC.Address.Edit(Model.Id))" role="button"><i class="fa fa-edit"></i>ویرایش</a>

                <button class="btn-sm btn btn-danger"
                        type="button" data-delete-url="@Url.Action(MVC.Address.Delete())" data-applicant="@Model.ApplicantId" data-removal-element="#address-@Model.Id" id="remove-@Model.Id">
                    <i class="fa fa-trash-o"></i>
                    حذف
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>