@model  Decision.ViewModel.WorkExperience.WorkExperienceListViewModel
@Html.AntiForgeryToken()


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default" data-ajax="true" data-ajax-mode="replace" data-ajax-success="onSuccessFormValidation(data, status, xhr,'createWorkExperienceForm','modal')"
                   data-ajax-update="#modal" href="@Url.Action(MVC.WorkExperience.Create(Model.SearchRequest.ApplicantId))" role="button"><i class="fa fa-plus"></i>درج سابقه کاری جدید</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" id="workExperienceList">
            @{ Html.RenderPartial(MVC.WorkExperience.Views.ViewNames._ListAjax, Model);}
        </div>
    </div>
    <div class="panel-footer padding-5-5">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <button data-page="2" data-json='{"ApplicantId":"@Model.SearchRequest.ApplicantId"}' data-container="#workExperienceList"
                        data-progress="#progress"
                        data-load-url="@Url.Action(MVC.WorkExperience.ListAjax())"
                        onclick="justPaging(this)" class="btn btn-info btn-block btn-sm" type="button">
                    بیشتر
                </button>
            </div>
        </div>
        <div id="progress" align="center" style="display: none">
            <img src="@Url.Content("~/Content/images/loading.gif")" alt="loading..."/>
        </div>
    </div>
</div>
@section Menu{
    @{Html.RenderPartial(MVC.Applicant.Views._ApplicantRelatedLinksBuilder, Model.SearchRequest.ApplicantId);}
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datePicker")
}









