
@using Decision.Common.HtmlHelpers
@model Decision.ViewModel.WorkExperience.AddWorkExperienceViewModel
<div class="modal-dialog modal-lg">
    <div class="modal-content ">
        <div class="modal-header alert alert-success">
            <h5 class="modal-title">درج سابقه کاری</h5>
        </div>
        <div class="modal-body">
           @using (Ajax.BeginForm(MVC.WorkExperience.Create(), new AjaxOptions { HttpMethod = "POST", OnComplete = "createOnComplete(xhr, status, 'workExperienceList', '#modal','createWorkExperienceForm','#createWorkExperienceButton')" }, new { @class = "form-horizontal", id = "createWorkExperienceForm", autocomplete = "off" }))
           {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ApplicantId)


                <div class="form-group">
                    @Html.LabelFor(model => model.OfficeName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxFor(model => model.OfficeName)
                        @Html.ValidationMessageFor(model => model.OfficeName, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClosedProjectCount, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxForNumber(model => model.ClosedProjectCount)
                        @Html.ValidationMessageFor(model => model.ClosedProjectCount, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OpenProjectCount, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxForNumber(model => model.OpenProjectCount)
                        @Html.ValidationMessageFor(model => model.OpenProjectCount, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ReferentialProjectCount, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxForNumber(model => model.ReferentialProjectCount)
                        @Html.ValidationMessageFor(model => model.ReferentialProjectCount, null, new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.TenureBeginDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TenureBeginDate, MVC.Shared.Views.EditorTemplates.PersianDatePicker)
                        @Html.ValidationMessageFor(model => model.TenureBeginDate, null, new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.TenureEndDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TenureEndDate, MVC.Shared.Views.EditorTemplates.PersianDatePicker)
                        @Html.ValidationMessageFor(model => model.TenureEndDate, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CooperationType, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CooperationType)
                        @Html.ValidationMessageFor(model => model.CooperationType, null, new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.TitleId, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.TitleId, Model.Titles, "انتخاب عنوان", new { @class = "form-control", rows = 2 })
                        @Html.ValidationMessageFor(model => model.TitleId, null, new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => Model.State, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.State, Model.States, "انتخاب استان", new
                        {
                            data_url = Url.Action(MVC.City.GetCities()),
                            data_tofill = "City",
                            data_lable = "انتخاب شهر",
                            data_selects = "City",
                            @class = "form-control cascade",
                        })
                        @Html.ValidationMessageFor(model => model.State, null, new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.City, Model.Cities, "انتخاب شهر", new { @class = "form-control", rows = 2 })
                        @Html.ValidationMessageFor(model => model.City, null, new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2">
                        <button type="button" id="createWorkExperienceButton" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'createWorkExperienceForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-sm">
                            ثبت سابقه کاری
                        </button>
                        <button class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">
                            انصراف
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
