@model Decision.ViewModel.WorkExperience.WorkExperienceViewModel
<div class="col-md-12 " id="workExperience-@Model.Id">
    <div class="panel panel-default">
      
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-calendar-o"></i>
                    <label class="text-muted">آغاز کار:</label>
                    <small>@Model.TenureBeginDate.ToPersianString(PersianDateTimeFormat.Date)</small>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-calendar"></i>
                    <label class="text-muted">پایان کار :</label>
                    <small>@Model.TenureEndDate.ToPersianString(PersianDateTimeFormat.Date)</small>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-folder"></i>
                    <label class="text-muted">
                        تعداد طرحهای متوقف‌شده:
                    </label>
                    <small>@Model.ReferentialProjectCount.GetPersianNumber()</small>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-folder-o"></i>
                    <label class="text-muted">
                        تعداد طرحهای انجام‌شده:
                    </label>
                    <small>@Model.ClosedProjectCount.GetPersianNumber()</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-folder-open-o"></i>
                    <label class="text-muted">
                        تعداد طرحهای جاری:
                    </label>
                    <small>@Model.OpenProjectCount</small>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-check-square-o"></i>
                    <label class="text-muted">
                        نوع مشارکت:
                    </label>
                    <small>@Html.DisplayFor(a=>a.CooperationType)</small>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-location-arrow"></i>
                    <label class="text-muted">
                        استان محل خدمت:
                    </label>
                    <small>@Model.State</small>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-map-marker"></i>
                    <label class="text-muted">
                         شهر محل خدمت:
                    </label>
                    <small>@Model.City</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <i class="fa fa-building"></i>
                    <label class="text-muted">
                          پست سازمانی :
                    </label>
                    <small>@Model.TitleName</small>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-building-o"></i>
                    <label class="text-muted">
                        اداره محل خدمت:
                    </label>
                    <small>@Model.OfficeName</small>
                </div>
            </div>
            @{Html.RenderPartial(MVC.Shared.Views._AuditLog, Model);}
        </div>
        <div class="panel-footer ">
            <div class="pull-left">
                <a class="btn btn-primary btn-sm" data-ajax-oncomplete="editGetOnComplete(xhr,status)"
                   data-ajax="true" data-ajax-method="GET"
                   data-ajax-begin="onBegin(xhr,this)"
                   data-ajax-mode="REPLACE-WITH" data-ajax-success="inlineEditGetOnSuccess(data, status, xhr,'@Model.Id')"
                   data-ajax-update="#workExperience-@Model.Id"
                   href="@Url.Action(MVC.WorkExperience.Edit(Model.Id))" role="button"><i class="fa fa-edit"></i>ویرایش</a>

                <button class="btn-sm btn btn-danger"
                        type="button" data-delete-url="@Url.Action(MVC.WorkExperience.Delete())" data-Applicant="@Model.ApplicantId" data-removal-element="#workExperience-@Model.Id" id="remove-@Model.Id">
                    <i class="fa fa-trash-o"></i>
                    حذف
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

