
@using System.Diagnostics
@using Decision.Web.Helpers
@model  Decision.ViewModel.PrivateMessage.MessageListViewModel
@{
    ViewBag.Title = "گفتگو";
}

@foreach (var item in Model.Messages)
{
    
<ul class="media-list">
    <li class="media">
        <div class="media-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class=" media-heading">
                        <span class="fa fa-user"></span>
                        @item.Sender.DisplayName
                        <small class="pull-left">
                            <i class="fa fa-calendar"></i>
                            <time>@item.SentOn.ToRemainingDateTime(),@item.SentOn.ToPersianString(PersianDateTimeFormat.Date)</time>
                            <time>
                                <i class="fa fa-clock-o"></i>
                                <span>@item.SentOn.ToPersianTimeString()</span>
                            </time>
                        </small>
                    </h6>
                </div>
                <div class="panel-body">
                    @Html.Raw(item.Body)
                </div>
            </div>
        </div>
    </li>

</ul>

}
@{Html.RenderPartial(MVC.PrivateMessage.Views._Reply, Model.AddMessageViewModel);}

@section Menu{
    @{Html.RenderPartial(MVC.Shared.Views._UserProfileSideBarMenu);}
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/formData")
}