
@using Decision.Common.HtmlHelpers
@model Decision.ViewModel.PrivateMessage.AddConversationViewModel

@using (Html.BeginForm(MVC.PrivateMessage.NewMessage(), FormMethod.Post, new { role = "form", @class = "form-horizontal", autocomplete = "off", id = "createConversationForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    @Html.HelpAlert(Url.Content("~/Content/Images/lightbulb.png"),
                    "در این قسمت این امکان وجود دارد تا بتوانید با سایر کاربران گفتگو داشته باشید"
                   )
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group">
                        <label for="ReciverId" class="control-label col-md-2">
                            <i class="fa fa-user"></i>
                            گیرنده پیغام
                        </label>
                        <div class="col-md-6">

                            @Html.DropDownListFor(a => a.ReciverId, Model.Users, "دریافت کننده", new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.ReciverId, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Subject" class="control-label col-md-2">
                            <i class="fa fa-list-alt"></i>
                            عنوان پیغام
                        </label>
                        <div class="col-md-6">

                            @Html.NoAutoCompleteTextBoxFor(a => a.Subject)
                            @Html.ValidationMessageFor(model => model.Subject, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Body" class="control-label col-md-2">
                            <i class="fa fa-align-justify"></i>
                            متن پیغام
                        </label>
                        <div class="col-md-10">

                            @Html.TextAreaFor(a => a.Body, new {@class = "ckeditor form-control", rows = 10})
                            @Html.ValidationMessageFor(model => model.Body, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <footer class="panel-footer">
            <button type="button" autocomplete="off" onclick="AjaxForm.CustomSubmitWithEditor(this, 'createConversationForm')"
                    data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-block">
                <i class="fa fa-paper-plane-o"></i>
                ارسال پیغام

            </button>
        </footer>
    </div>
   
}
@section Menu{
    @{Html.RenderPartial(MVC.Shared.Views._UserProfileSideBarMenu);}
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/editor")
}
