@using System.Web.Mvc
@using Decision.Common.HtmlHelpers
@model Decision.ViewModel.EducationalExperience.AddEducationalExperienceViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header alert alert-success">
            <h6 class="modal-title">درج سابقه تدریس علمی متقاضی</h6>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm(MVC.EducationalExperience.Create(), new AjaxOptions { HttpMethod = "POST", OnComplete = "createOnComplete(xhr, status, 'educationalExperienceList', '#modal','createEducationalExperienceForm','#createEducationalExperienceButton')" }, new { @class = "form-horizontal", id = "createEducationalExperienceForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ApplicantId)
                <div class="form-group">
                    @Html.LabelFor(model => model.Lessons, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.NoAutoCompleteTextBoxFor(model => model.Lessons)
                        @Html.ValidationMessageFor(model => model.Lessons, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Institution, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.NoAutoCompleteTextBoxFor(model => model.Institution)
                        @Html.ValidationMessageFor(model => model.Institution, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InstitutionAddress, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.NoAutoCompleteTextBoxFor(model => model.InstitutionAddress)
                        @Html.ValidationMessageFor(model => model.InstitutionAddress, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InstitutionPhoneNumber, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.NoAutoCompleteTextBoxForLtr(model => model.InstitutionPhoneNumber)
                        @Html.ValidationMessageFor(model => model.InstitutionPhoneNumber, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BeginYear, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.BeginYear, MVC.Shared.Views.EditorTemplates.PersianDatePicker)
                        @Html.ValidationMessageFor(model => model.BeginYear, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Score, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.NoAutoCompleteTextBoxForNumber(model => model.Score)
                        @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="button" id="createEducationalExperienceButton" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'createEducationalExperienceForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-md">
                            ثبت موضوع جدید
                        </button>
                        <button class="btn btn-default btn-md" data-dismiss="modal" aria-hidden="true">
                            انصراف
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
