
@using Decision.Common.HtmlHelpers
@model Decision.ViewModel.EducationalExperience.EditEducationalExperienceViewModel
<div class="col-md-12" id="educationalExperience-@Model.Id">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-edit"></i>
            </h3>
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm(MVC.EducationalExperience.Edit(), new AjaxOptions { HttpMethod = "POST", OnComplete = "editOnComplete(xhr, status, '" + Model.Id + "','#editButton" + Model.Id + "')" }, new { @class = "form-horizontal", id = Model.Id, autocomplete = "off", data_ajax_update = "educationalExperience-" + Model.Id }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ApplicantId)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.RowVersion)
                <div class="form-group">
                    @Html.LabelFor(model => model.Lessons, new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.NoAutoCompleteTextBoxFor(model => model.Lessons)
                        @Html.ValidationMessageFor(model => model.Lessons, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Institution, new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.NoAutoCompleteTextBoxFor(model => model.Institution)
                        @Html.ValidationMessageFor(model => model.Institution, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InstitutionAddress, new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.NoAutoCompleteTextBoxFor(model => model.InstitutionAddress)
                        @Html.ValidationMessageFor(model => model.InstitutionAddress, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InstitutionPhoneNumber, new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.NoAutoCompleteTextBoxForLtr(model => model.InstitutionPhoneNumber)
                        @Html.ValidationMessageFor(model => model.InstitutionPhoneNumber, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BeginYear, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.BeginYear, MVC.Shared.Views.EditorTemplates.PersianDatePicker)
                        @Html.ValidationMessageFor(model => model.BeginYear, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Score, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.NoAutoCompleteTextBoxForNumber(model => model.Score)
                        @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
        <div class="panel-footer ">
            <div class="pull-left">
                <button type="button" id="@string.Format("editButton{0}",Model.Id)" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, '@Model.Id')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-sm">
                    <i class="fa fa-check-square-o"></i>
                    ذخیره تغییرات
                </button>

                <a class="btn btn-default btn-sm" data-ajax="true"
                   data-ajax-mode="REPLACE-WITH" data-ajax-complete="cancelEditOnComplete(xhr, status)"
                   data-ajax-update="#educationalExperience-@Model.Id" data-ajax-method="POST"
                   href="@Url.Action(MVC.EducationalExperience.CancelEdit(Model.Id))" role="button">
                    <i class="fa fa-arrow-right"></i>
                    انصراف
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
