@using DNT.Extensions
@model Decision.ViewModel.EducationalExperience.EducationalExperienceViewModel

<div class="col-md-12 " id="educationalExperience-@Model.Id">
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <i class="fa fa-list-alt"></i>
                    <label class="text-muted">
                        عنوان دروس :
                    </label>
                    <small>@Model.Lessons</small>
                </div>
                <div class="col-md-3">
                    <label class="text-muted">
                        <i class="fa fa-star"></i>:
                    </label>
                    <small>@Model.Score.GetPersianNumber()</small>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-calendar"></i>
                    <label class="text-muted">
                        سال شروع :
                    </label>
                    <small>@Model.BeginYear.ToPersianString(PersianDateTimeFormat.Date)</small>
                </div>
                @*<div class="col-md-3">
                    <i class="fa fa-calendar"></i>
                    <label class="text-muted">
                        سال پایان :
                    </label>
                    <small>@Model.EndYear.ToPersianString(PersianDateTimeFormat.Date)</small>
                </div>*@
                <div class="col-md-6">
                    <i class="fa fa-building"></i>
                    <label class="text-muted">
                        نام موسسه :
                    </label>
                    <small>@Model.Institution</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <i class="fa fa-location-arrow"></i>
                    <label class="text-muted">
                        آدرس موسسه :
                    </label>
                    <small>@Model.InstitutionAddress.ToPersianContent(true)</small>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-phone"></i>
                    <label class="text-muted">
                        تلفن موسسه :
                    </label>
                    <small>@Model.InstitutionPhoneNumber.GetPersianNumber()</small>
                </div>

            </div>
            @{Html.RenderPartial(MVC.Shared.Views._AuditLog, Model);}
        </div>
        <div class="panel-footer ">
            <div class="pull-left">
                <a class="btn btn-primary btn-sm" data-ajax-oncomplete="editGetOnComplete(xhr,status)"
                   data-ajax="true" data-ajax-method="GET"
                   data-ajax-begin="onBegin(xhr,this)"
                   data-ajax-mode="REPLACE-WITH" data-ajax-success="inlineEditGetOnSuccess(data, status, xhr,'@Model.Id')"
                   data-ajax-update="#educationalExperience-@Model.Id"
                   href="@Url.Action(MVC.EducationalExperience.Edit(Model.Id))" role="button"><i class="fa fa-edit"></i>ویرایش</a>

                <button class="btn-sm btn btn-danger"
                        type="button" data-delete-url="@Url.Action(MVC.EducationalExperience.Delete())" data-Applicant="@Model.ApplicantId" data-removal-element="#educationalExperience-@Model.Id" id="remove-@Model.Id">
                    <i class="fa fa-trash-o"></i>
                    حذف
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>




