
@model Decision.ViewModel.Common.BaseViewModel
<hr class="margin-bottom-5 margin-top-5">
<div class="row">
    <div class="col-md-3">
        <i class="fa fa-check-square-o text-success"></i>
        <small class="text-muted">ثبت شده توسط:</small>
        <small>@Model.CreatorUserName</small><br>
        <i class="fa fa-calendar-o"></i>
        <small>در :</small>
        <time>@Model.CreatedOn.ToPersianString(PersianDateTimeFormat.Date)</time>
        <i class="fa fa-clock-o "></i>
        <time>@Model.CreatedOn.ToPersianTimeString()</time>
    </div>
    <div class="col-md-3">
        <i class="fa fa-edit text-info"></i>
        <small class="text-muted">ویرایش شده توسط:</small>
        <small>@Model.LastModifierUserName</small><br>
        <i class="fa fa-calendar-o"></i>
        <small>در :</small>
        <time>@Model.ModifiedOn.ToPersianString(PersianDateTimeFormat.Date)</time>
        <i class="fa fa-clock-o"></i>
        <time>@Model.ModifiedOn.ToPersianTimeString()</time>
    </div>
    <div class="col-md-3">
        <i class="fa fa-edit text-info"></i>
        <small class="text-muted">آخرین علمیات:</small>
        <small>@Html.DisplayFor(a => a.Action)</small><br>
        <i class="fa fa-edit text-info"></i>
        <small class="text-muted">ورژن رکورد:</small>
        <small>@Model.Version.GetPersianNumber()</small><br>
    </div>
</div>
