@using AttributeRouting.Helpers
@using Decision.Common.HtmlHelpers
@using DNT.Extensions
@model Decision.ViewModel.Applicant.ApplicantViewModel
<div class="col-md-12" id="applicant-@Model.Id">
    <div class="panel panel-default">
       
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    @Html.Image(Model.Photo, Model.FullName, "img-rounded img-responsive img-thumbnail", 100)
                </div>

                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="text-muted">متقاضی :</label>
                            <small>@Model.FullName</small> 
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-star"></i>
                            <small id="PersonnelCode">
                                @Model.TotalReputation.GetPersianNumber()
                            </small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">وضعیت رسیدگی :</label>
                            <small>@Html.DisplayFor(a => a.Status)</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">نوع عضویت :</label>
                            <small>@Html.DisplayFor(a => a.MembershipType)</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="text-muted" for="birthDate">تاریخ تولد:</label>
                            <small id="birthDate">@Model.BirthDate.ToPersianString(PersianDateTimeFormat.Date)</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted" for="Code">شماره شناسنامه:</label>
                            <small id="Code">@Model.BirthCertificateNumber</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted" for="birthPlace">محل تولد:</label>
                            <small id="birthPlace">@Model.BirthPlaceCity - @Model.BirthPlaceState</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted" for="nationalCode">کد ملی:</label>
                            <small id="nationalCode">@Model.NationalCode.GetPersianNumbers()</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="text-muted" for="order">شماره همراه:</label>
                            <small id="order">@Model.CellphoneNumber.GetPersianNumber()</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted" for="group">تلفن ثابت:</label>
                            <small id="group">@Model.PhoneNumber.GetPersianNumber()</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">تلفن ضروری:</label>
                            <small>@Model.NumberIndispensable.GetPersianNumber()</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted"> نظام وظیفه:</label>
                            <small>@Html.DisplayFor(a => a.MilitaryStatus)</small>
                        </div>
                    </div>
                </div>
            </div>
            @{Html.RenderPartial(MVC.Shared.Views._AuditLog, Model);}
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <a href="@Url.Action(MVC.Applicant.Edit(Model.Id))" class="btn btn-sm btn-primary" type="button">
                    <i class="fa fa-edit"></i>
                    ویرایش
                </a>
                <a href="@Url.Action(MVC.Applicant.Details(Model.Id))" class="btn btn-sm btn-info" type="button">
                    <i class="fa fa-align-justify"></i>
                    مشاهده اطلاعت بیشتر
                </a>
                <button class="btn-sm btn btn-danger"
                        type="button" data-delete-url="@Url.Action(MVC.Applicant.Delete())" data-removal-element="#applicant-@Model.Id" id="remove-@Model.Id">
                    <i class="fa fa-trash-o"></i>
                    حذف
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>