
@using Decision.Common.HtmlHelpers
@using Decision.DomainClasses.Entities.ApplicantInfo


@model Decision.ViewModel.Applicant.ApplicantDetailsViewModel
@{
    ViewBag.Title = "مشاهده جزئیات متقاضی";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">اطلاعات متقاضی</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-block text-center">
                            <figure>
                                @Html.Image(Model.Photo, Model.FullName, "img-circle img-responsive img-thumbnail", 200)
                                <figcaption>
                                    <h5>
                                        @Model.FullName
                                        <br>
                                    </h5>
                                    @if (Model.Gender == GenderType.Male)
                                    {
                                        <i class="fa fa-male" title="مرد"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-female" title="زن"></i>
                                    }

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="line-status">
                            <small class="text-muted">
                                <i class="fa fa-user"></i>
                                وضعیت فردی
                            </small>
                        </h3>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="BirthDate">تاریخ تولد:</label>
                                <small id="BirthDate">@Model.BirthDate.ToPersianString(PersianDateTimeFormat.Date)</small>
                            </div>
                            <div class="col-md-3">
                                <label for="BirthPlaceState">محل تولد:</label>
                                <small id="BirthPlaceState">@Model.BirthPlaceState - @Model.BirthPlaceCity</small>
                            </div>
                            <div class="col-md-3">
                                <label for="NationalCode">کد ملی:</label>
                                <small id="NationalCode">@Model.NationalCode.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="BirthCertificateNumber">شماره شناسنامه:</label>
                                <small id="BirthCertificateNumber">@Model.BirthCertificateNumber</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="MarriageStatus">وضعیت تاهل:</label>
                                <small id="MarriageStatus">@Html.DisplayFor(a => a.MarriageStatus)</small>
                            </div>
                            <div class="col-md-3">
                                <label for="birthCertificate">لینک دانلود کپی شناسنامه:</label>
                                <small id="birthCertificate">
                                    @Html.ActionLink("بارگیری", MVC.Applicant.GetApplicantFile(Model.Id, "birthCertificate"))
                                </small>
                            </div>
                            <div class="col-md-3">
                                <label for="nationalCode">لینک دانلود کپی کارت ملی:</label>
                                <small id="nationalCode">
                                    @Html.ActionLink("بارگیری", MVC.Applicant.GetApplicantFile(Model.Id, "nationalCode"))
                                </small>
                            </div>
                            <div class="col-md-3">
                                <label>ملبس </label>
                                <small>
                                    @if (Model.IsClothed)
                                    {
                                        <i class="fa fa-check-square text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-check-square-o text-muted"></i>
                                    }
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="line-status">
                            <small>
                                <i class="fa fa-graduation-cap"></i>
                                وضعیت شغلی تحصیلی
                            </small>
                        </h3>
                        <div class="row">
                           
                           
                        </div>
                        <div class="row">
                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="line-status">
                            <small>
                                <i class="fa fa-credit-card"></i>
                                سایر مشخصات
                            </small>
                        </h3>
                        <div class="row">
                           
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @{Html.RenderPartial(MVC.Shared.Views._AuditLog, Model);}
    </div>

</div>

@section Menu{
    @{Html.RenderPartial(MVC.Applicant.Views._ApplicantRelatedLinksBuilder, Model.Id);}
}