@model Decision.ViewModel.Appraiser.AppraiserViewModel
<div class="col-md-12 data-item" id="appraiser-@Model.Id">
    <div class="panel panel-default">
       
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-align-justify"></i>
                    <label class="text-muted">نام :</label>
                    <small>@Model.FirstName</small>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-align-justify"></i>
                    <label class="text-muted">نام خانوادگی :</label>
                    <small>@Model.LastName</small>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-mobile"></i>
                    <label class="text-muted">
                        همراه :
                    </label>
                    <small>@Model.CellPhone</small>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-transgender"></i>
                    <label class="text-muted" id="address">جنسیت :</label>
                    <small>@Html.DisplayFor(a => Model.Gender)</small>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-location-arrow"></i>
                    <label class="text-muted">
                        عنوان :
                    </label>
                    <small>@Model.AppraiserTitleName</small>
                </div>

            </div>
          @{Html.RenderPartial(MVC.Shared.Views._AuditLog, Model);}

        </div>
        <div class="panel-footer ">
            <div class="pull-left">
                <a class="btn btn-primary btn-sm" data-ajax-oncomplete="editGetOnComplete(xhr,status)"
                   data-ajax="true" data-ajax-method="GET"
                   data-ajax-begin="onBegin(xhr,this)"
                   data-ajax-mode="REPLACE-WITH" data-ajax-success="inlineEditGetOnSuccess(data, status, xhr,'@Model.Id')"
                   data-ajax-update="#appraiser-@Model.Id"
                   href="@Url.Action(MVC.Appraiser.Edit(Model.Id))" role="button"><i class="fa fa-edit"></i>ویرایش</a>

                <button class="btn-sm btn btn-danger"
                        type="button" data-delete-url="@Url.Action(MVC.Appraiser.Delete())" data-removal-element="#appraiser-@Model.Id" id="remove-@Model.Id">
                    <i class="fa fa-trash-o"></i>
                    حذف
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


