@using Decision.Common.Helpers
@model Decision.ViewModel.Appraiser.AddAppraiserViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header alert alert-success">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h6 class="modal-title">درج ارزش گذار</h6>
        </div>
        <div class="modal-body">
          @using (Ajax.BeginForm(MVC.Appraiser.Create(), new AjaxOptions { HttpMethod = "POST", OnComplete = "createOnComplete(xhr, status, 'appraiserList', '#modal','createAppraiserForm','#createAppraiserButton')" }, new { @class = "form-horizontal", id = "createAppraiserForm", autocomplete = "off" }))
          {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CellPhone, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxForLtr(model => model.CellPhone)
                        @Html.ValidationMessageFor(model => model.CellPhone, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Gender)
                        @Html.ValidationMessageFor(model => model.Gender, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AppraiserTitleId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.AppraiserTitleId,Model.AppraiserTitles,"انتخاب",new{@class="form-control"})
                        @Html.ValidationMessageFor(model => model.AppraiserTitleId, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2">
                        <button type="button" id="createAppraiserButton" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'createAppraiserForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-md">
                            ثبت ارزش گذار
                        </button>
                        <button class="btn btn-default btn-md" data-dismiss="modal" aria-hidden="true">
                            انصراف
                        </button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
