@using Decision.Common.Helpers
@model Decision.ViewModel.Appraiser.AppraiserListViewModel
@{
    ViewBag.Title = "مشاهده لیست ارزش گذاران";
}
@Html.AntiForgeryToken()


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default btn-sm" data-ajax="true" data-ajax-mode="replace" data-ajax-method="GET" data-ajax-success="onSuccessFormValidation(data, status, xhr,'createAppraiserForm','modal')"
                   data-ajax-update="#modal" data-ajax-url="@Url.Action(MVC.Appraiser.Create())" role="button"><i class="fa fa-plus"></i>درج ارزش گذار جدید</a>
            </div>
            <div class="col-md-8">
                @using (Ajax.BeginForm(MVC.Appraiser.ListAjax(), new AjaxOptions { AllowCache = false, HttpMethod = "POST", OnComplete = "searchOnComplete(xhr,status,'#progress','#appraiserPager','#appraiserList')" }, new { @class = "form-horizontal search", autocomplete = "off", id = "appraiserSearchForm" }))
                {

                    @Html.Hidden("PageIndex", Model.SearchRequest.PageIndex)
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="text" name="Term" class="form-control" placeholder="نام یا نام خانوادگی">
                                <span class="input-group-btn">
                                    <button type="button" id="appraiserSearchButton" autocomplete="off" onclick="directSearchPaging('#progress', 'appraiserSearchForm', '#appraiserPager', '#appraiserList')" data-loading-text="درخواست" class="btn btn-success btn-sm search">
                                        <i class="fa fa-search"></i>         جستجو
                                    </button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="panel-body">
        <div class="row" id="appraiserList">
            @{ Html.RenderPartial(MVC.Appraiser.Views.ViewNames._ListAjax, Model);}
        </div>
    </div>
    <div class="panel-footer padding-5-5">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <button data-page="2" id="appraiserPager" onclick="doPaging(this, '#progress', 'appraiserSearchForm')" class="btn btn-info btn-block btn-sm" type="button">
                    بیشتر
                </button>
            </div>
        </div>
        <div id="progress" align="center" style="display: none">
            <img src="@Url.Content("~/Content/images/loading.gif")" alt="loading..."/>
        </div>
    </div>
</div>
@section Menu{
    @{Html.RenderPartial(MVC.Shared.Views._PublicSettingSideBarMenu);}
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


