
@model Decision.ViewModel.Interview.EditInterviewViewModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-edit"></i>
                </h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(MVC.Interview.Edit(), FormMethod.Post, new { @class = "form-horizontal", id = "editInterviewForm", autocomplete = "off", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.RowVersion)
                    @Html.HiddenFor(model => model.ApplicantId)
                    @Html.HiddenFor(model => model.AttachmentScan)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Brief, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Brief, new { @class = "form-control ckeditor", rows = 3 })
                            @Html.ValidationMessageFor(model => model.Brief, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Body, new { @class = "form-control ckeditor", rows = 10 })
                            @Html.ValidationMessageFor(model => model.Brief, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InterviewerId, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.InterviewerId, Model.Interviewers, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InterviewerId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.InterviewDate, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.InterviewDate, MVC.Shared.Views.EditorTemplates.PersianDatePicker)
                            @Html.ValidationMessageFor(model => model.InterviewDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AttachmentFile, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.AttachmentFile, new { type = "file", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <button type="button" autocomplete="off" data-type="pdf" data-container="AttachmentScan" class="btn btn-primary   btn-sm @(!string.IsNullOrEmpty(Model.AttachmentScan) ? "scan-remove" : "scan")">

                                @if (!string.IsNullOrEmpty(Model.AttachmentScan))
                                {<text>
                                    <i class="fa fa-remove"></i>
                                    حذف فایل اسکن شده
                                </text>
                                }
                                else
                                {<text>
                                    <i class="fa fa-file-photo-o"></i>
                                    افزودن اسکن
                                </text>
                                }
                            </button>
                        </div>
                    </div>
                }
            </div>

            <div class="panel-footer ">
                <div class="pull-left">
                    <button type="button" id="editInterviewButton" autocomplete="off" onclick="AjaxForm.CustomSubmitWithEditor(this, 'editInterviewForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-md">
                        <i class="fa fa-check-square-o"></i>
                        ذخیره تغییرات
                    </button>
                    <a class="btn btn-default btn-md"
                       href="@Url.Action(MVC.Interview.List(Model.ApplicantId))" role="button">
                        <i class="fa fa-arrow-right"></i>
                        انصراف
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>

@section Menu{
    @{Html.RenderPartial(MVC.Applicant.Views._ApplicantRelatedLinksBuilder, Model.ApplicantId);}
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datePicker")
    @Scripts.Render("~/bundles/editor")
}


