@using System.Globalization
@using Decision.ServiceLayer.Security
@model Decision.ViewModel.ArticleEvaluation.ArticleEvaluationListViewModel
@{
    ViewBag.Title = "لیست ارزیابی های مقاله";
}

@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                @Html.HelpAlert(Url.Content("~/Content/images/lightbulb.png"), "در این قسمت میتوانید لیست ارزیابی های انجام شده از مقاله را مشاهده کنید .",
               "با کلیک بر روی دکمه جزئیات ، خواهید توانست تا جزئیات ارزیابی را مشاهده کنید.")
            </div>
        </div>
        <hr class="margin-top-5 margin-bottom-5" />
        <div class="row">
            <div class="col-md-3">
                <label class="text-muted">مقاله به شماره :</label>
                <small>@Model.ArticleDetails.ArticleCode.GetPersianNumber()</small>
            </div>
            <div class="col-md-3">
                <label class="text-muted">استاد مربوطه :</label>
                <small>@Model.ArticleDetails.TeacherFullName</small>
            </div>
            <div class="col-md-3">
                <label class="text-muted">کل امتیاز :</label>
                <small>@Model.ArticleDetails.TotalScore.ToString(CultureInfo.InvariantCulture).GetPersianNumber()</small>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" id="evaluationList">
            @{ Html.RenderPartial(MVC.ArticleEvaluation.Views.ViewNames._ListAjax, Model);}
        </div>
    </div>
    <div class="panel-footer padding-5-5">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <button data-page="2" data-container="#evaluationList"
                        data-progress="#progress"
                        data-json='{"ArticleId":"@Model.Request.ArticleId","TeacherId":"@Model.ArticleDetails.TeacherId"}'
                        data-load-url="@Url.Action(MVC.ArticleEvaluation.ListAjax())"
                        onclick="justPaging(this)" class="btn btn-info btn-block btn-sm" type="button">
                    بیشتر
                </button>
            </div>
        </div>
        <div id="progress" align="center" style="display: none">
            <img src="@Url.Content("~/Content/images/loading.gif")" alt="loading..." />
        </div>
    </div>
</div>


@section Menu{
@Html.SideBarSecureActionLink("درج ارزیابی", Url.Action(MVC.ArticleEvaluation.Create(Model.Request.ArticleId)), "list-group-item thrid-split", "fa fa-plus", AssignableToRolePermissions.CanManageArticleEvaluation)

@Html.SideBarSecureActionLink("درج ارزیاب", Url.Action(MVC.Appraiser.List()), "list-group-item second-split", "fa fa-plus", AssignableToRolePermissions.CanManageAppraiser)

 @{Html.RenderPartial(MVC.Teacher.Views._TeacherRelatedLinksBuilder, Model.ArticleDetails.TeacherId);}

}
