
@model Decision.ViewModel.ResearchExperience.EditResearchExperienceViewModel
<div class="col-md-12" id="researchExperience-@Model.Id">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-leanpub"></i>
                ویرایش سابقه پژوهشی
            </h3>
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm(MVC.ResearchExperience.Edit(), new AjaxOptions { HttpMethod = "POST", OnComplete = "editOnComplete(xhr, status, '" + Model.Id + "','#editButton" + Model.Id + "')" }, new { @class = "form-horizontal", id = Model.Id, autocomplete = "off", data_ajax_update = "researchExperience-" + Model.Id }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ApplicantId)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.RowVersion)
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PublishedIn, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.NoAutoCompleteTextBoxFor(model => model.PublishedIn)
                        @Html.ValidationMessageFor(model => model.PublishedIn, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PublishDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PublishDate, MVC.Shared.Views.EditorTemplates.PersianDatePicker)
                        @Html.ValidationMessageFor(model => model.PublishDate, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ResearchType, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ResearchType)
                        @Html.ValidationMessageFor(model => model.ResearchType, null, new { @class = "text-danger" })
                    </div>
                </div>

            }
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <button type="button" id="@string.Format("editButton{0}",Model.Id)" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, '@Model.Id')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-sm">
                    <i class="fa fa-check-square-o"></i>
                    ذخیره تغییرات
                </button>

                <a class="btn btn-default btn-sm" data-ajax="true"
                   data-ajax-mode="REPLACE-WITH" data-ajax-complete="cancelEditOnComplete(xhr, status)"
                   data-ajax-update="#researchExperience-@Model.Id" data-ajax-method="POST"
                   href="@Url.Action(MVC.ResearchExperience.CancelEdit(Model.Id))" role="button">
                    <i class="fa fa-arrow-right"></i>
                    انصراف
                </a>
            </div>

            <div class="clearfix"></div>
        </div>

    </div>
</div>
