
@model Decision.ViewModel.EntireEvaluation.EditEntireEvaluationViewModel


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-edit"></i>
                </h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(MVC.EntireEvaluation.Edit(), FormMethod.Post, new { @class = "form-horizontal", id = "editEntireEvaluationForm", autocomplete = "off", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.RowVersion)
                    @Html.HiddenFor(model => model.ApplicantId)
                    @Html.HiddenFor(model => model.AttachmentScan)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Brief, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Brief, new { @class = "form-control ckeditor", rows = 3 })
                            @Html.ValidationMessageFor(model => model.Brief, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control ckeditor", rows = 10 })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Foible, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Foible, new { @class = "form-control ckeditor", rows = 3 })
                            @Html.ValidationMessageFor(model => model.Foible, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StrongPoint, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.StrongPoint, new { @class = "form-control ckeditor", rows = 3 })
                            @Html.ValidationMessageFor(model => model.StrongPoint, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.EvaluatorId, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.EvaluatorId, Model.Evaluators, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EvaluatorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EvaluationDate, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.EvaluationDate, MVC.Shared.Views.EditorTemplates.PersianDatePicker)
                            @Html.ValidationMessageFor(model => model.EvaluationDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
              
                }
            </div>

            <div class="panel-footer ">
                <div class="pull-left">
                    <button type="button" id="editEntireEvaluationButton" autocomplete="off" onclick="AjaxForm.CustomSubmitWithEditor(this, 'editEntireEvaluationForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-md">
                        <i class="fa fa-check-square-o"></i>
                        ذخیره تغییرات
                    </button>
                    <a class="btn btn-default btn-md"
                       href="@Url.Action(MVC.EntireEvaluation.List(Model.ApplicantId))" role="button">
                        <i class="fa fa-arrow-right"></i>
                        انصراف
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>

@section Menu{
    @{Html.RenderPartial(MVC.Applicant.Views._ApplicantRelatedLinksBuilder, Model.ApplicantId);}
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datePicker")
    @Scripts.Render("~/bundles/editor")
}

