@using Decision.Common.HtmlHelpers
@model  Decision.ViewModel.EntireEvaluation.EntireEvaluationListViewModel
@{
    ViewBag.Title = "لیست ارزیابی های متقاضی";
}
@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-12">
                @Html.HelpAlert(Url.Content("~/Content/images/lightbulb.png"), "برای درج ارزیابی جدید از دکمه (افزودن ارزیابی جدید) استفاده کنید.",
                    "دقت کنید در صورت حجیم بودن فایل ضمیمه ، صبر کنید تا عملیات با موفقیت انجام شود."
                    , "در صورت استفاده از امکان آپلود فایل ضمیمه ، از فرمت pdf استفاده کنید.")
            </div>
        </div>
        <hr class="margin-bottom-5 margin-top-5" />
        <div class="row">
            <div class="col-md-12">
                <button aria-controls="create-entireEvaluation" aria-expanded="false" class="btn btn-default btn-sm btn-block" data-target="#create-entireEvaluation" data-toggle="collapse" type="button">
                    <i class="fa fa-plus"></i>افزودن ارزیابی جدید
                </button>
            </div>
        </div>
        <hr class="margin-bottom-5 margin-top-5" />

        <div class="row  collapse" id="create-entireEvaluation">
            @{ Html.RenderAction(MVC.EntireEvaluation.Create(Model.SearchRequest.ApplicantId));}
        </div>
    </div>
    <div class="panel-body">
        <div class="row" id="entireEvaluationList">
            @{ Html.RenderPartial(MVC.EntireEvaluation.Views.ViewNames._ListAjax, Model);}
        </div>
    </div>
    <div class="panel-footer padding-5-5">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <button data-page="2" data-json='{"ApplicantId":"@Model.SearchRequest.ApplicantId"}' data-container="#entireEvaluationList"
                        data-progress="#progress"
                        data-load-url="@Url.Action(MVC.EntireEvaluation.ListAjax())"
                        onclick="justPaging(this)" class="btn btn-info btn-block btn-sm" type="button">
                    بیشتر
                </button>
            </div>
        </div>
        <div id="progress" align="center" style="display: none">
            <img src="@Url.Content("~/Content/images/loading.gif")" alt="loading..." />
        </div>
    </div>
</div>


@section Menu{
    @{Html.RenderPartial(MVC.Applicant.Views._ApplicantRelatedLinksBuilder, Model.SearchRequest.ApplicantId);}
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datePicker")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/formData")
}




