
@model Decision.ViewModel.Question.QuestionViewModel


<div class="col-md-12 " id="question-@Model.Id">
    <div class="panel @(Model.IsDeleted?"panel-warning":"panel-default")">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-list-ul"></i>
                    <label class="text-muted">
                        عنوان سوال:
                    </label>
                    <small>
                            @Model.Title
                    </small>
                   
                </div>
                <div class="col-md-3">
                    <label class="text-muted">
                        وزن ارزشی:
                    </label>
                    <small>
                            @Model.Weight.GetPersianNumber()
                    </small>
                </div>
            </div>
           
               <div class="row">
                    <div class="col-md-12">
                        <label class="text-muted">
                            گزینه ها
                        </label>
                        <hr class="margin-top-5 margin-bottom-0"/>
                        <div class="row">
                            @foreach (var option in Model.Options)
                            {
                                <div class="col-md-6">
                                    <small>
                                        @option.Name
                                    </small>
                                    <label class="text-muted">
                                        وزن ارزشی:
                                    </label>
                                    <small>
                                        @option.Weight.GetPersianNumber()
                                    </small>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            

            @{Html.RenderPartial(MVC.Shared.Views._AuditLog, Model);}
        </div>

        <div class="panel-footer ">
            <div class="pull-left">
                <a class="btn btn-primary btn-sm"
                   href="@Url.Action(MVC.Question.Edit(Model.Id))" role="button"><i class="fa fa-edit"></i>ویرایش</a>

                @if (!Model.IsDeleted)
                {
                    <a class="btn btn-danger btn-sm "
                       data-ajax="true" data-ajax-method="POST"
                       data-ajax-begin="onBegin(xhr,this)"
                       data-ajax-mode="REPLACE-WITH"
                       data-ajax-oncomplete="onComplete(xhr,status)"
                       data-ajax-update="#question-@Model.Id"
                       href="@Url.Action(MVC.Question.Disable(Model.Id))" role="button">
                        <i class="fa fa-ban"></i>
                        غیر فعال کردن
                    </a>
                }
                else
                {
                    <a class="btn btn-success btn-sm "
                       data-ajax="true" data-ajax-method="POST"
                       data-ajax-mode="REPLACE-WITH"
                       data-ajax-begin="onBegin(xhr,this)"
                       data-ajax-oncomplete="onComplete(xhr,status)"
                       data-ajax-update="#question-@Model.Id"
                       href="@Url.Action(MVC.Question.Enable(Model.Id))" role="button">
                        <i class="fa fa-check-square-o"></i>
                        فعال سازی
                    </a>
                }

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


