@using CaptchaMvc.HtmlHelpers
@using Decision.Common.HtmlHelpers
@model Decision.ViewModel.Account.LoginViewModel
@{
    ViewBag.Title = "ورود به سیستم";
}
<div class="row margin-top-5">
    @using (Html.BeginForm(MVC.Account.Login((string)ViewBag.ReturnUrl), FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form", id = "loginForm", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-10 col-md-offset-1">
            <div class="panel  panel-default">
                <div class="panel-heading">
                    @Html.HelpAlert(Url.Content("~/Content/Images/lightbulb.png"),
                    "کاربر گرامی بعد از ورود به حساب کاربری خود ، خواهید توانست از امکانات سیستم بهره مند شوید.")
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-9">
                            @Html.NoAutoCompleteTextBoxForLtr(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-9">
                            @Html.FormControlPasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-2">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox-inline" })
                            @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.MathCaptcha(MVC.Shared.Views._CaptchaPartial)
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'loginForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-block">
                        ورو به حساب کاربری
                    </button>

                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
