
@model Decision.ViewModel.ReferentialTeacher.AddReferentialTeacherViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header  alert alert-success">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h6 class="modal-title">ارجاع استاد</h6>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm(MVC.Teacher.Refer(), new AjaxOptions { HttpMethod = "POST", OnComplete = "postOnComplete(xhr, status,'Teacher-"+Model.TeacherId+"', '#modal','referForm','#referButton')" }, new { @class = "form-horizontal", id = "referForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a=>a.TeacherId)
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ReferencedToId, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.ReferencedToId,Model.RefrencedToUsers,"انتخاب کاربر",new{@class="form-control"})
                            @Html.ValidationMessageFor(m => m.ReferencedToId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2">
                            <button type="button" id="referButton" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'referForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success ">
                                 ارجاع بده
                            </button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                                انصراف
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

