@using AttributeRouting.Helpers
@using Decision.DomainClasses.Entities.Common
@using Decision.DomainClasses.Entities.TeacherInfo


@model Decision.ViewModel.Teacher.TeacherDetailsViewModel
@{
    ViewBag.Title = "مشاهده جزئیات استاد";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">اطلاعات استاد</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-block text-center">
                            <figure>
                                
                                @Html.Image(Model.Photo, Model.FullName, "img-circle img-responsive img-thumbnail",200)
                                <figcaption>
                                    <h5>
                                        @Model.FullName
                                        <br>
                                        <small class="text-muted">کد پرسنلی :</small>
                                        <small><strong class="text-primary">@Model.PersonnelCode</strong></small>
                                    </h5>
                                    @if (Model.Gender == GenderType.Male)
                                    {
                                        <i class="fa fa-male" title="مرد"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-female" title="زن"></i>
                                    }

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="line-status">
                            <small class="text-muted">
                                <i class="fa fa-user"></i>
                                وضعیت فردی
                            </small>
                        </h3>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="BirthDate">تاریخ تولد:</label>
                                <small id="BirthDate">@Model.BirthDate.ToPersianString(PersianDateTimeFormat.Date)</small>
                            </div>
                            <div class="col-md-3">
                                <label for="BirthPlaceState">محل تولد:</label>
                                <small id="BirthPlaceState">@Model.BirthPlaceState - @Model.BirthPlaceCity</small>
                            </div>
                            <div class="col-md-3">
                                <label for="NationalCode">کد ملی:</label>
                                <small id="NationalCode">@Model.NationalCode.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="BirthCertificateNumber">شماره شناسنامه:</label>
                                <small id="BirthCertificateNumber">@Model.BirthCertificateNumber</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="MarriageStatus">وضعیت تاهل:</label>
                                <small id="MarriageStatus">@Html.DisplayFor(a => a.MarriageStatus)</small>
                            </div>
                            <div class="col-md-3">
                                <label for="birthCertificate">لینک دانلود کپی شناسنامه:</label>
                                <small id="birthCertificate">
                                    @Html.ActionLink("بارگذاری", MVC.Teacher.GetTeacherFile(Model.Id, "birthCertificate"))
                                </small>
                            </div>
                            <div class="col-md-3">
                                <label for="nationalCode">لینک دانلود کپی کارت ملی:</label>
                                <small id="nationalCode">
                                    @Html.ActionLink("بارگذاری", MVC.Teacher.GetTeacherFile(Model.Id, "nationalCode"))
                                </small>
                            </div>
                            <div class="col-md-3">
                                <label >ملبس </label>
                                <small >
                                 @if (Model.IsClothed)
                                 {
                                     <i class="fa fa-check-square text-success"></i>
                                 }
                                 else
                                 {
                                    <i class="fa fa-check-square-o text-muted"></i>
                                 }
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="line-status">
                            <small >
                                <i class="fa fa-graduation-cap"></i>
                                وضعیت شغلی تحصیلی
                            </small>
                        </h3>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="CollegiateOrder">پایه استاد:</label>
                                <small id="CollegiateOrder">@Model.CollegiateOrder.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="OccupationalGroup">گروه شغلی:</label>
                                <small id="OccupationalGroup">@Model.OccupationalGroup.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="TrainigGrade">رتبه کارآموزی:</label>
                                <small id="TrainigGrade">
                                    @if (Model.TrainigGrade > 0)
                                    {
                                    <text>
                                        @Model.TrainigGrade.GetPersianNumber()
                                    </text>
                                    }
                                    else
                                    {<text>
                                        ثبت نشده
                                    </text>
                                    }
                                </small>
                            </div>
                            <div class="col-md-3">
                                <label for="TrainingGPA">معدل کارآموزی:</label>
                                <small id="TrainingGPA">
                                    @if (Model.TrainingGPA > decimal.Zero)
                                    {
                                    <text>
                                        @Model.TrainingGPA.GetPersianNumber()
                                    </text>
                                    }
                                    else
                                    {<text>
                                        ثبت نشده
                                    </text>
                                    }
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="PositionName">سمت استاد:</label>
                                <small id="PositionName">@Model.PositionName</small>
                            </div>
                            <div class="col-md-6">
                                <label for="TrainingCourseDetails">دوره کارآموزی:</label>
                                <small id="TrainingCourseDetails">@Model.TrainingCourseDetails</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="line-status">
                            <small >
                                <i class="fa fa-credit-card"></i>
                                مشخصات بانکی
                            </small>
                        </h3>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="BankName">نام بانک دارای حساب</label>
                                <small id="BankName">@Model.BankName</small>
                            </div>
                            <div class="col-md-3">
                                <label for="BankBranch">شعبه:</label>
                                <small id="BankBranch">@Model.BankBranch</small>
                            </div>
                            <div class="col-md-3">
                                <label for="AccountNumber">شماره حساب:</label>
                                <small id="AccountNumber">@Model.AccountNumber</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-check-square-o text-success"></i>
                <small class="text-muted">ثبت شده توسط:</small>
                <small>@Model.CreatorUserName</small><br>
                <i class="fa fa-calendar-o"></i>
                <small>در :</small>
                <time>@Model.CreateDate.ToPersianString(PersianDateTimeFormat.Date)</time>
                <i class="fa fa-clock-o "></i>
                <time>@Model.CreateDate.ToPersianTimeString()</time>
            </div>
            @if (Model.LastModifierUserName.HasValue())
            {
                <div class="col-md-3">
                    <i class="fa fa-edit text-info"></i>
                    <small class="text-muted">ویرایش شده توسط:</small>
                    <small>@Model.LastModifierUserName</small><br>
                    <i class="fa fa-calendar-o"></i>
                    <small>در :</small>
                    <time>@Model.LastModifiedDate.ToPersianString(PersianDateTimeFormat.Date)</time>
                    <i class="fa fa-clock-o"></i>
                    <time>@Model.LastModifiedDate.ToPersianTimeString()</time>
                </div>
            }
         
            @if (Model.IsApproved)
            {
            <div class="col-md-3">
                <i class="fa fa-check text-info"></i>
                <small class="text-muted">تأیید شده توسط:</small>
                <small>@Model.ApproveByName</small><br>
            </div>
            }

        </div>
    </div>

</div>

@section Menu{
    @{Html.RenderPartial(MVC.Teacher.Views._TeacherRelatedLinksBuilder,Model.Id);}
}