
@model IEnumerable<Decision.ViewModel.Teacher.ReferTeacherViewModel>
@{
    ViewBag.Title = "لیست اساتید درحال تکمیل";
}
@Html.AntiForgeryToken()
@foreach (var viewModel in Model)
{
    <div class="col-md-12" id="Teacher-@viewModel.Id">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-user"></i>
                    @viewModel.FullName
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        @Html.Image(viewModel.Photo, viewModel.FullName, "img-rounded img-responsive img-thumbnail", 100)
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="PersonnelCode" class="text-muted">کد پرسنلی:</label>
                                <small id="PersonnelCode">
                                    @viewModel.PersonnelCode
                                </small>
                            </div>
                            <div class="col-md-3">
                                <label for="PositionName" class="text-muted">سمت:</label>
                                <small id="PositionName">
                                    @viewModel.PositionName
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-muted" for="birthDate">تاریخ تولد:</label>
                                <small id="birthDate">@viewModel.BirthDate.ToPersianString(PersianDateTimeFormat.Date)</small>
                            </div>
                            <div class="col-md-3">
                                <label class="text-muted" for="Code">شماره شناسنامه:</label>
                                <small id="Code">@viewModel.BirthCertificateNumber</small>
                            </div>
                            <div class="col-md-3">
                                <label class="text-muted" for="birthPlace">محل تولد:</label>
                                <small id="birthPlace">@viewModel.BirthPlaceCity - @viewModel.BirthPlaceState</small>
                            </div>
                            <div class="col-md-3">
                                <label class="text-muted" for="nationalCode">کد ملی:</label>
                                <small id="nationalCode">@viewModel.NationalCode</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-muted" for="order">پایه استاد:</label>
                                <small id="order">@viewModel.CollegiateOrder.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label class="text-muted" for="group">گروه شغلی:</label>
                                <small id="group">@viewModel.OccupationalGroup.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label class="text-muted" for="trainingRank">رتبه کارآموزی:</label>
                                <small id="trainingRank">
                                    @if (viewModel.TrainigGrade > 0)
                                    {
                                        <text>
                                            @viewModel.TrainigGrade.GetPersianNumber()
                                        </text>
                                    }
                                    else
                                    {<text>
                                         ثبت نشده
                                     </text>
                                    }
                                </small>
                            </div>
                            <div class="col-md-3">
                                <label class="text-muted" for="gpa">معدل کارآموزی:</label>
                                <small id="gpa">
                                    @if (viewModel.TrainingGPA > decimal.Zero)
                                    {
                                        <text>
                                            @viewModel.TrainingGPA.GetPersianNumber()
                                        </text>
                                    }
                                    else
                                    {<text>
                                         ثبت نشده
                                     </text>
                                    }
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-left">
                    <a href="@Url.Action(MVC.Teacher.Edit(viewModel.Id))" class="btn btn-sm btn-primary" type="button">
                        <i class="fa fa-edit"></i>
                        ویرایش
                    </a>
                    <a href="@Url.Action(MVC.Teacher.Details(viewModel.Id))" class="btn btn-sm btn-info" type="button">
                        <i class="fa fa-align-justify"></i>
                        مشاهده اطلاعت بیشتر
                    </a>
                    <button class="btn-sm btn btn-danger"
                            type="button" data-delete-url="@Url.Action(MVC.Teacher.Delete())" data-removal-element="#Teacher-@viewModel.Id" id="remove-@viewModel.Id">
                        <i class="fa fa-trash-o"></i>
                        حذف
                    </button>

                    <button class="btn-sm btn btn-success"
                            type="button" data-delete-url="@Url.Action(MVC.Teacher.FinishRefer(viewModel.Id))" data-done-msg="استاد مورد نظر با موفقیت ارسال شد." data-removal-element="#Teacher-@viewModel.Id" data-message="آیا از ارسال استاد مطمئن هستید؟" data-type="information" id="remove-@viewModel.Id">
                        <i class="fa fa-reply"></i>
                        ارسال برای تایید
                    </button>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

}

@section Menu{
    @{Html.RenderPartial(MVC.Shared.Views._UserProfileSideBarMenu);}
}