@using Decision.Common.Helpers
@model Decision.ViewModel.Title.AddTitleViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header alert alert-success text-right">
            <h6 class="modal-title">درج عنوان</h6>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm(MVC.Title.Create(), new AjaxOptions { HttpMethod = "POST", OnComplete = "createOnComplete(xhr, status, 'titleList', '#modal','createTitleForm','#createTitleButton')" }, new { @class = "form-horizontal", id = "createTitleForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.CategoryIsHidden)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.NoAutoCompleteTextBoxFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Type)
                        @Html.ValidationMessageFor(model => model.Type, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="titleCategory" @(Model.CategoryIsHidden ? "hidden" : "")>
                    @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Category)
                        @Html.ValidationMessageFor(model => model.Category, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2">
                        <button type="button" id="createTitleButton" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'createTitleForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-md">
                            ثبت عنوان جدید
                        </button>
                        <button class="btn btn-default btn-md" data-dismiss="modal" aria-hidden="true">
                            انصراف
                        </button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
