@using Decision.Common.Helpers
@model Decision.ViewModel.Title.TitleListViewModel
@{
    ViewBag.Title = "مشاهده لیست عنوان ها";
}
@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default btn-sm" data-ajax="true" data-ajax-mode="replace" data-ajax-success="onSuccessFormValidation(data, status, xhr,'createTitleForm','modal')"
                   data-ajax-update="#modal" href="@Url.Action(MVC.Title.Create())" role="button"><i class="fa fa-plus"></i>درج عنوان جدید</a>
            </div>
            <div class="col-md-9">
                @using (Ajax.BeginForm(MVC.Title.ListAjax(), new AjaxOptions { AllowCache = false, HttpMethod = "POST", OnComplete = "searchOnComplete(xhr,status,'#progress','#titlePager','#titleList')" }, new { @class = "form-horizontal search", autocomplete = "off", id = "titleSearchForm" }))
                {
                    @Html.Hidden("PageIndex", Model.Request.PageIndex)
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.EnumDropDownListFor(a => Model.Request.Type, "انتخاب نوع", new { Name = "Type", @class = "form-control" })

                        </div>
                        <div class="col-lg-3">
                            @Html.EnumDropDownListFor(a => Model.Request.Category, "انتخاب گروه", new { Name = "Category", @class = "form-control" })

                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input type="text" name="Name" class="form-control"
                                       placeholder="نام عنوان">
                                <span class="input-group-btn">
                                    <button type="button" id="titleSearchButton" onclick="directSearchPaging('#progress', 'titleSearchForm', '#titlePager', '#titleList')" autocomplete="off" data-loading-text="جستجو" class="btn btn-success btn-sm search">
                                        <i class="fa fa-search"></i>         جستجو
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>


                }
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" id="titleList">
            @{ Html.RenderPartial(MVC.Title.Views.ViewNames._ListAjax, Model);}
        </div>
    </div>
    <div class="panel-footer padding-5-5">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <button data-page="2" id="titlePager" onclick="doPaging(this, '#progress', 'titleSearchForm')" class="btn btn-info btn-block btn-sm" type="button">
                    بیشتر
                </button>
            </div>
        </div>
        <div id="progress" align="center" style="display: none">
            <img src="@Url.Content("~/Content/images/loading.gif")" alt="loading..."/>
        </div>
    </div>
</div>
@section Menu{
    @{Html.RenderPartial(MVC.Shared.Views._PublicSettingSideBarMenu);}
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $(document).on("change", "#Type", function () {
                $.get('@Url.Action(MVC.Title.IsEnableCategory())', { type: $(this).val() }, function (data, status, xhr) {

                    var result = xhr.responseText;
                    if (result == "ok") {
                        $('#titleCategory').show();
                    } else {
                        $('#titleCategory').hide();
                    }
                });
            });
        });
    </script>
}
